@model Slider
@{
    ViewData["Title"] = "Detail";
}

    <div class="row">
        <img src="~/img/@Model.Name" height="400"  alt="." />
    </div>
    <div class="row">
        <a asp-action="Index" class="btn btn-success">Go to Index</a>
    </div>

