@model  Data

<header>
    <nav id="main_nav">
        <div class="container">
            <div class="row no-gutters ">

                <!-- logo part begins -->
                <div class="col-lg-2">
                    <div class="logo">
                        <img src="~/img/@Model.Logo" alt="">
                    </div>
                    <i class="fas fa-bars fa-2x d-none"></i>
                </div>
                <!-- logo part ends -->
                <!-- navigation part begins -->
                <div class="col-lg-8 col-6 sidebar">
                    <div class="navigator">
                        <div class="headers">
                            <i class="fas fa-window-close fa-2x d-none"></i>
                            <ul class="margin-left">
                                <li class="main">
                                    <div class="header">
                                        <a class="activeelement">HOME</a>
                                    </div>
                                    <div class="content">
                                        <ul>
                                            <li><a asp-controller="Home" asp-action="Index">Main Home</a></li>
                                            <li><a href="">Grid Home</a></li>
                                            <li><a href="">Flower Shop</a></li>
                                            <li><a href="">Animated Slider</a></li>
                                            <li><a href="">Metro Showcase</a></li>
                                            <li><a href="">Carousel Showcase</a></li>
                                            <li><a href="">Landing</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="main">
                                    <div class="header">
                                        <a>PAGES</a>
                                    </div>
                                    <div class="content">
                                        <ul>
                                            <li><a href="">About us</a></li>
                                            <li><a href="">FAQ Page</a></li>
                                            <li><a href="">Contact Us</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="main">
                                    <div class="header">
                                        <a>SHOP</a>
                                    </div>
                                    <div class="content">
                                        <ul class="subss">
                                            <li class="subs">
                                                <div class="subheader">
                                                    <h2>Product Types</h2>
                                                </div>
                                                <div class="subcontent">
                                                    <ul>
                                                        <li><a href="orange_amaryllis.html">Standart Product</a></li>
                                                        <li><a href="">Grouped Product</a></li>
                                                        <li><a href="">Variable Product</a></li>
                                                        <li><a href="">Virtual Product</a></li>
                                                        <li><a href="">External Product</a></li>
                                                        <li><a href="">Downloadable Product</a></li>
                                                        <li><a href="">On Sale Product</a></li>
                                                        <li><a href="">Out Of Stock Product</a></li>
                                                        <li><a href="">New Product</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="subs">
                                                <div class="subheader">
                                                    <h2>Shop Pages</h2>
                                                </div>
                                                <div class="subcontent">
                                                    <ul>
                                                        <li><a href="">My Account</a></li>
                                                        <li><a href="">Cart</a></li>
                                                        <li><a href="">Checkout</a></li>
                                                        <li><a href="">Orders</a></li>
                                                        <li><a href="">Downloads</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="subs">
                                                <div class="subheader">
                                                    <h2>Shop Types</h2>
                                                </div>
                                                <div class="subcontent">
                                                    <ul>
                                                        <li><a asp-controller="Product" asp-action="Index">Product List</a></li>
                                                        <li><a href="">Without Sidebar</a></li>
                                                        <li><a href="">With Category Filter</a></li>
                                                        <li><a href="">With Ordering Filter</a></li>
                                                        <li><a href="">Shop Carousel</a></li>
                                                        <li><a href="">Product Categories</a></li>
                                                        <li><a href="">Single Category</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="subs">
                                                <div class="subheader">
                                                    <h2>Shop Layouts</h2>
                                                </div>
                                                <div class="subcontent">
                                                    <ul>
                                                        <li><a href="">Two Columns Grid</a></li>
                                                        <li><a href="">Three Columns Grid</a></li>
                                                        <li><a href="">Four Columns Grid</a></li>
                                                        <li><a href="">Four Columns Wide</a></li>
                                                        <li><a href="">Five Columns Wide</a></li>
                                                        <li><a href="">Six Columns Wide</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="main">
                                    <div class="header">
                                        <a>PORTFOLIO</a>
                                    </div>
                                    <div class="content">
                                        <ul>
                                            <li><a href="">Standart</a></li>
                                            <li><a href="">Gallery</a></li>
                                            <li><a href="">Masonry</a></li>
                                            <li class="rightarrow">
                                                <a href="">
                                                    Portfolio Layouts <i class="fa fa-angle-right"></i>
                                                </a>
                                                <div class="rightarrowinfo">
                                                    <ul>
                                                        <li><a href="">Two Columns</a></li>
                                                        <li><a href="">Three Columns</a></li>
                                                        <li><a href="">Four Columns</a></li>
                                                        <li><a href="">Four Columns Wide</a></li>
                                                        <li><a href="">Five Columns Wide</a></li>
                                                    </ul>
                                                </div>

                                            </li>
                                            <li class="rightarrow">
                                                <a href="">
                                                    Portfolio Single <i class="fa fa-angle-right"></i>
                                                </a>
                                                <div class="rightarrowinfo">
                                                    <ul>
                                                        <li><a href="a">Small Images</a></li>
                                                        <li><a href="">Small Slider</a></li>
                                                        <li><a href="">Big Images</a></li>
                                                        <li><a href="">Big Slider</a></li>
                                                        <li><a href="">Gallery</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                @if (User.Identity.IsAuthenticated) {
                                    <li class="main">
                                        <div class="header"><a>@ViewBag.UserFullname</a></div>
                                        <div class="content"><a asp-controller="Account" asp-action="Logout" >Log Out</a></div>
                                    </li>
                                }
                                else {
                                    <li class="login" style="margin-left:40px;float:left;font-family:'Montserrat',sans-serif;font-size:15px;margin-top:30px;cursor:pointer">
                                        <div class="headerx"><a asp-controller="Account" asp-action="Login" style="color:black">LOG IN</a></div>
                                    </li>
                                    }

                            </ul>

                        </div>
                    </div>
                </div>
                <!-- navigation part ends -->
                <!-- two little icon part begins -->
                <div class="col-lg-2">
                    <div class="icons">
                        <div class="search">
                            <span><i class="fas fa-search searchicon"></i></span>
                            <div class="search-box d-none">
                                <input type="text" placeholder="Search" id="search-box">
                                <a href=""><i class="fas fa-search"></i></a>
                            </div>
                        </div>
                        <div class="cartdiv">
                            <a href="#" class="cart">
                                <span class="bag-icon">
                                    <i class="fas fa-shopping-bag bag">
                                        <sup>
                                            <p class="amount">@ViewBag.BasketCount</p>
                                        </sup>
                                    </i>
                                </span><span class="total">
                                    CART(<span class="price">$@ViewBag.BasketTotal</span>)
                                </span>
                            </a>

                            <div class="cart-dropdown" style="display: none;">
                                <!-- <p class="text-center no-product" style="display: none;">No products in the cart</p> -->
                                <div class="cart-header">
                                    @*<partial name="_BasketPartial"/>*@
                                </div>
                                <div class="cart-bottom">
                                    <div class="subtotal-holder">
                                        <span class="total">TOTAL:</span>
                                        <span class="amount text-right">
                                            <p>@ViewBag.BasketTotal $</p>
                                        </span>
                                    </div>
                                    <div class="cart-buttons">
                                        <input type="submit" value="VIEW CART" class="button view-cart">
                                        <input type="submit" value="CHECKOUT" class="button checkout">
                                    </div>

                                </div>
                            </div>
                        </div>


                        <span><i class="fas fa-bars bar"></i></span>
                    </div>
                </div>

                <!-- two little icon part ends -->
            </div>
        </div>
    </nav>
</header>